<!DOCTYPE html>
<html>
  <head>
    <title>VideoStreamer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
        integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
        crossorigin="anonymous"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-file-upload/4.0.11/jquery.uploadfile.min.js" integrity="sha512-uwNlWrX8+f31dKuSezJIHdwlROJWNkP6URRf+FSWkxSgrGRuiAreWzJLA2IpyRH9lN2H67IP5H4CxBcAshYGNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.13.1/themes/trontastic/jquery-ui.css' />      
  <%= render "layouts/style" %>
  </head>

  <body>
    <% if admin? %>
      <a class='admin-nav-link' href='<%= unsynced_films_path%>'> unsynced films </a>
      <a class='admin-nav-link' href='<%= films_path%>'> Films </a>
      <% if Recommendation.count > 0 %>
        <a class='admin-nav-link' href='<%= recommendations_path%>'> <%= Recommendation.count %> recommendation(s) </a>    
      <% end %>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
