<!DOCTYPE html>
<html>
  <head>
    <title>VideoStreamer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
  </head>

  <body>
    <% if admin? %>
      <a href='<%= unsynced_films_path%>'> unsynced films </a>
      <a href='<%= films_path%>'> Films </a>   
      <hr>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
